.call-to-action {
  --grid-cols: 1;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  display: grid;
  place-items: center;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.call-to-action > img {
  width: 100%;
}

.call-to-action__content {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  font-size: 1.5rem;
  max-width: 900px;
}

@media screen and (min-width: 1200px) {
  .call-to-action {
    --grid-cols: 2;
  }
}
