.call-to-action {
  --grid-cols: 1;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  display: grid;
  grid-template-columns: repeat(--grid-cols, 1fr);
}

.call-to-action > img {
  display: block;
  width: 100%;
}

.call-to-action__content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .call-to-action {
    --grid-cols: 2;
  }
}
