header {
  padding: 0.5rem 1rem;
  background-color: var(--clr-primary);
  color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

header nav > ul a:not(.btn) {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
