section.recipients {
  padding: 2rem;
  --swiper-theme-color: var(--clr-primary);
}

section.recipients .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
}

.recipients-body {
  max-width: 500px;
}

.recipients-slider {
  width: 100%;
  border: 0.25rem solid var(--clr-primary);
  background: var(--clr-primary);
}

.slide-content .school {
  font-weight: 600;
}

@media screen and (min-width: 1200px) {
  section.recipients .container {
    flex-direction: row;
  }

  .recipients-slider .swiper-slide {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.25rem;
    place-items: center;
  }

  .recipients-slider .swiper-slide img,
  .recipients-slider .slide-content {
    box-sizing: border-box;
    height: 100%;
  }

  .recipients-slider .slide-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    border-left: 0;
    background: var(--clr-white);
  }

  .recipients-slider .slide-content > * {
    margin: 0;
    padding: 0;
  }
}
